@media only screen and (max-width: 600px) {
  .nav_logo{
  height: 38px;
  margin-left: 50%;
}
}
.sweetalerts .btn-group-lg>.btn, .btn-lg{
font-size: 14px !important;
}
.sweetalerts .gx-btn, .btn{
  border: solid 1px #d9d9d9 !important;
}

@media only screen and (min-width: 750px) {
  .blogpage{
    display: flex;
    flex-direction: column;
  }



}
@media only screen and (max-width: 480px) {
  .row.homecontainer #inwj{
margin-top: 0px ;
margin-left: 13px;
}
}
.show_output{
  flex: auto;
}
.ant-col.label.ant-col-xs-24.ant-col-sm-24.ant-col-md-3.ant-col-lg-3.ant-col-xl-3{
    max-width:8%;
    padding-left: 0;
    padding-right: 0;
    display: inline-block;
    padding-top: 12px;
}
.ant-col.label.ant-col-xs-24.ant-col-sm-24.ant-col-md-3.ant-col-lg-3.ant-col-xl-3 p{
    display: inline-block;
}
.gjs-pn-btn.fa.fa-desktop{
  margin-left : 45px;
}
#example-editor{
  overflow: auto;
}
.ant-col.label_sub.ant-col-xs-24.ant-col-sm-24.ant-col-md-4.ant-col-lg-4.ant-col-xl-4 p{
  display: inline-block;
}
.ant-col.label_sub.ant-col-xs-24.ant-col-sm-24.ant-col-md-4.ant-col-lg-4.ant-col-xl-4 {
    max-width:10%;
    padding-left: 0;
    padding-right: 0;
    display: inline-block;
    padding-top: 12px;
}
.login-modal .ant-modal-close{
  display: none;
}
.mapwrapper{
  height : 271px;
}
/* .member_logo_image{
  width: 100%;
  height: 20%;
} */
.parent_member{
  text-align: center;
  margin-bottom: 5px;
}

.members_wrapper{
  padding-left:15px;
  padding-right:15px;
  padding-top:5%;
}
.mapwrapper div:nth-child(1){
  position: relative;
  height : 100%;
}
.ant-card.footer-card{
  margin: auto;
  width: 60%;
}
.underline{
 border-bottom: 1px solid black;
 display: inline;
}
.mvna_navbar{
  font-weight: 600;
}
.mvna_navbar.navbar-light .navbar-nav .nav-link{
color : black ;
}

@media only screen and (min-width: 992px) {
  .mvna_navbar .nav-link,.mvna_navbar .nav-item{
    flex-grow: 1;
  }
  .mvna_navbar .navbar-nav{
    width: 100%;
  }
  .navbar-collapse.collapse{
    margin-top : 13px;
  }
  .mvna_navbar .navbar-brand{
    margin-right : 4%;
  }
  .mvna_navbar .nav-header-image{
    height : 65px;
    /* width : 140px; */
  }
  .mvna_navbar  .search_box{
    margin-bottom: 0px;
  }
  .search_box .ant-input-search-icon::before{
border-left: 0px;
  }
  .ant-input-search.search_box.ant-input-affix-wrapper{
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    height:31px;
    border: 1px solid black;
  }

}
/* .mapwrapper div:nth-child(5){
  display: none;
} */
/* .ant-card{
    resize: vertical;
    overflow: auto;
  } */
  @media  (max-width: 480px) {
    #iq383{
      min-height: auto !important;
    }
    #ixp4b{
      min-height: auto !important;
    }
    #it22{
      height : auto !important;
      min-height: auto !important;
    }
    #inwj{
      height : auto;
      margin-top : 0px;
    }
    .gjs-row.home_slider_container{
      height : auto !important;
    }
  }
  @media only screen and (max-width: 992px) { 
    #it22{
      height : auto !important;
      min-height: auto !important;
    }
    #inwj{
      height : auto;
      margin-top : 0px;
    }
    .gjs-row.home_slider_container{
      height : auto !important;
    }
  }
  @media only screen and (min-width: 700px) { 
    
    #inwj{
      height : auto;
      margin-top : 0px;
    }
    
  }
  @media only screen and (max-width: 800px) { 
    
    #inwj{
      height : 100% !important;
      margin-top : 0px;
    }
    #it22{
      height : 100% !important;
    }
    
  }
  @media only screen and (max-width: 600px) {
    #it22{
      height : auto !important;
      min-height: auto !important;
    }
    #inwj{
      height : auto;
      margin-top : 0px;
    }
    .gjs-row.home_slider_container{
      height : auto !important;
    }
  } 
 .ant-spin.ant-spin-spinning.geditor .ant-spin-dot.ant-spin-dot-spin{
top : 96%;
 }
 .fileset .ant-input{
   background-color: rgba(255, 255, 255, 0);
   border: 0px;
 }
 .editors{
   height : 100%;
 }
 .editors .ant-spin-nested-loading {
   height : 100%;
 }
.gjs-cell.tables .row{
  margin-right: unset;
  margin-left: unset;
}
.row.adjustable{
  margin-right: unset;
  margin-left: unset;
}
@media only screen and (max-width: 480px) {
  /* .cell.homeinnercontainer{
    margin-left : 10px;
  }
  .cell.homeinnercontainer + div{
    margin-left:19px;
  } */
}
@media only screen and (max-width: 740px) {
#iwcu1{
flex-basis: 1% !important;

}
#if7jb{
  flex-basis: 65%;
}
#i9i7c{
  flex-basis: 10%;
}
#iehx5{
  flex-basis: 78%;
}
}
@media only screen and (max-width: 800px) {
  /* .cell.homeinnercontainer{
    margin-left : 10px;
  }
  .cell.homeinnercontainer + div{
    margin-left:19px;
  } */
  #ikm8g,#ir3pk{
    max-width: 4% !important;

  }
  #ijewi{
    flex-basis: 89%;
  }
}
.demo .row{
  margin-left:unset;
  margin-right: unset;
}
.demo #iw78o{
  margin-left: 0px;
}
.ant-row.membersui{
  margin-left : 5px;
  margin-right : 5px;
}